*a {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;

}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "maim main aside"
    "footer footer footer";
   /*background-image: url(wp9432338.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background: black;
    background: linear-gradient(122deg,black -10%,gray 110%);


}
header{
    grid-area: header;
    
    color: white;
    background-color: rgb(116, 116, 130);
}

nav {
    grid-area: nav;
    color: black;
    display: flex;
    background-color: rgb(122, 84, 46);
    background: linear-gradient(122deg, gray,rgba(122,84,46) 100%);
    
    /* background-color: rgb(226, 98, 43); */
}
nav ul {

    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
}

nav ul li {
text-decoration: none;
list-style: none;    

}
nav ul li a{
    font-size: 20px;
    color: black;
}
.active{
    color: white;
}

main {
    grid-area: main;
}
.contactForm{
    color: rgb(153, 118, 83);
}
aside {

}

footer {
grid-area: footer;
}
footer ul{
    display: flex;
justify-content: center;
margin-top: 9em;
}
