*a {
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
    color: white;

}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "footer footer footer";

}
nav {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: white;
}
nav li {

}
aside {

}

footer {

}
